@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "SF-Pro-Text-Regular";
    box-sizing: border-box;
}

body{
    background-color: var(--color-primary);
    background-image: url("../storage/img/Group.png");
}

.header{
    padding: var(--space-layout-padding-lr);
    padding-top: var(--space-layout-padding-tb);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
}

.header img{
    width: 30px;
}

.header__Main{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

h1 {
    padding-left: 10px;
    font-family: "SF-Pro-Text-Bold";
    font-size: 18px;
    letter-spacing: 2px;
    color: var(--white-color);
}

.section__balance{
    /* background: greenyellow; */
    margin-top: 45px;
    padding: var(--space-layout-padding-lr);
}

.Greeting__User{
    /* background: blueviolet; */

}

.Greeting__User h2{
    font-family: "SF-Pro-Text-Bold";
    font-size: 35.6px;
    color: var(--white-color);
}

.Greeting__User p{
    font-family: "SF-Pro-Text-Light";
    font-size: 35.6px;
    color: var(--white-color);
}

.Username_Text{
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.Amounts__Progress{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    color: var(--white-color);
}

.Savings{
    /* background: red; */
    border-radius: 10px;
}

.Assets{
    /* background: red; */
    border-radius: 10px;
}

.Savings strong, .Assets strong{
    font-family: "SF-Pro-Text-Light";
    font-size: 23px;
}



.progress1 {
    width: 150px;
}

.progress2 {
    width: 150px;
}

.progress1[value] {
    --color: var(--color-secondary);
}

progress[value] {
    --color: var(--color-tertiary);
    --background: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 1em;
    background: var(--background);
    height: 7px;
  }
  progress[value]::-webkit-progress-bar {
    border-radius: 1em;
    background: var(--background);
  }
  progress[value]::-webkit-progress-value {
    border-radius: 1em;
    background: var(--color);
}

.section__main{
    background: var(--white-color);
    margin-top: 30px;
    padding-top: 30px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
}

.section__main h3{
    /* background: red; */
    padding: var(--space-layout-padding-lr);
    font-family:"SF-Pro-Text-Bold";
    color: var(--color-primary);
}


.Activities{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    scrollbar-width: none;
    padding: 10px 15px;
    gap: 22px;
}

.Activities div{
    background: var(--white-color);
    color: var(--color-primary);
    width: 110px;
    height: 140px;
    padding: 10px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 15px var(--color-tertiary);
    flex-shrink: 0;
}

.Transactions__h3{
    margin-top: 20px;
}

.Transactions{
    /* background: green; */
    display: flex;
    margin-top: 20px;
    padding: var(--space-layout-padding-lr);
}

.Transactions__div {
    /* background: moccasin; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Transactions__div strong{
    font-family: "SF-Pro-Text-Bold";
    color: var(--color-primary);
}

.Transactions__div span{
    font-family: "SF-Pro-Text-Medium";
    color: var(--color-tertiary);
    font-size: small;
}


.transaction-details, .transaction-amount {
    /* background: seagreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.transaction-amount{
    align-items: flex-end;
}

.transaction-details {
    /* background: yellowgreen; */
    flex-grow: 1;
    padding-right: 10px;
    padding-left: 8px; 
}








.footer{
    /* background: red; */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer__ul{
    background: var(--color-primary);
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    list-style: none;
}

.footer__ul li a{
    /* background: green; */
    width: 24px;
    height: 24px;
}

.footer__ul li a img{
    object-fit: contain;
    /* background: mediumturquoise; */
    width: 35px;
    height: 35px;
}
  


