<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/balance.css">
    <title>Balance</title>
</head>
<body>
    <header class="header">
        <div class="header__Main">
            <img src="../storage/img/New-Logo.png">
            <h1>VIBRANIUM</h1>
        </div>
        <div>
            <img src="../storage/img/WhiteMenu.svg">
        </div>
    </header>
    <main>
        <section class="first_circle">
            <article class="top_circle">
                    <h3>Total</h3>
                    <h3>Balance</h3>
                    <p>$<strong>214,417</strong></p>
            </article>
        </section>
        <section class="buttons">
                <button class="Assets-button">Assets</button>
                <button class="Debt-button">Debt</button>
                <button class="Income-button">Income</button>
        </section>
        <section class="graphic_container">
            <img src="../storage/img/grafic.svg">
        </section>
    </main>

    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/img/casa.png">
                </a>
            </li>
            <li>
                <a href="../views/balance.html">
                    <img src="../storage/img/aplicacion-wallet-pass.png">
                </a>
            </li>
            <li>
                <a href="../views/dashboard.html">
                    <img src="../storage/img/flojo.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/aplicacion-de-bandeja-de-entrada-de-correo.png">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/discordia.png">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>