<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/balance.css">
    <title>Balance</title>
</head>
<body>
    <header class="header">
        <div class="header__Main">
            <img src="../storage/img/app.png">
            <h1>VIBRANIUM</h1>
        </div>
        <div>
            <img src="../storage/img/WhiteMenu.svg">
        </div>
    </header>
    <main>
        <section class="first_circle">
            <article class="top_circle">
                    <h3>Total</h3>
                    <h3>Balance</h3>
                    <p>$<strong>324,596</strong></p>
            </article>
        </section>
        <section class="buttons">
                <button class="Assets-button">Assets</button>
                <button class="Debt-button">Debt</button>
                <button class="Income-button">Income</button>
        </section>
        <section class="graphic_container">
            <img src="../storage/img/grafic.svg">
        </section>

        <section class="bottom_container">
            <div class="card">
                <div class="x-button">
                    <img src="../storage/img/borrar.png">
                </div>
                <div class="credit-card">
                    <img src="../storage/img/tarjeta-de-credito.png">
                </div>
                <div class="add__debt">
                    <h4>Spending.</h4>
                    <p>You forgot to add debt card number at payment #1323. Add it now.</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/img/casa.png">
                </a>
            </li>
            <li>
                <a href="../views/balance.html">
                    <img src="../storage/img/aplicacion-wallet-pass.png">
                </a>
            </li>
            <li>
                <a href="../views/dashboard.html">
                    <img src="../storage/img/flojo.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/aplicacion-de-bandeja-de-entrada-de-correo.png">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/discordia.png">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>