<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/balance.css">
    <title>Balance</title>
</head>
<body>
    <header class="header">
        <div class="header__Main">
            <img src="../storage/img/LogoE.png">
            <h1>INVETO</h1>
        </div>
        <div>
            <img src="../storage/img/WhiteMenu.svg">
        </div>
    </header>
    <main>
        <section class="first_circle">
            <article class="top_circle">
                    <h3>Total</h3>
                    <h3>Balance</h3>
                    <p>$<strong>214,417</strong></p>
            </article>
        </section>
        <section>
            <article>
                <button>Assets</button>
                <button>Debt</button>
                <button>Income</button>
            </article>
        </section>
    </main>

    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/img/HomeWhite.svg">
                </a>
            </li>
            <li>
                <a href="balance.html">
                    <img src="../storage/img/BalanceWhite.svg">
                </a>
            </li>
            <li>
                <a href="dashboard.html">
                    <img src="../storage/img/MenuWhite.svg">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/NotifyWhite.svg">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/ProfileWhite.svg">
                </a>
            </li>
        </ul>
    </footer>
</body>
</html>