<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/dashboard.css">
    <title>Dashboard</title>
</head>
<body>
    <header class="header">
        <div class="header__Main">
            <img src="../storage/img/New-Logo.png">
            <h1>VIBRANIUM</h1>
        </div>
        <div>
            <img src="../storage/img/GrayMenu.svg">
        </div>
    </header>
    <main>
        <section class="top_container">
            <h3 class="Title_1">Investing Tips</h3>
            <article class="top__box">
                <div class="box__image">
                    <img src="../storage/img/Green-Pig.svg">
                </div>
                <div class="box__text">
                    <h3>What is an ETF?</h3>
                    <span>By James B, PHD</span>
                    <button>LEARN MORE</button>
                </div>
                <div class="x-button">
                    <img src="../storage/img/X-image.svg">
                </div>
            </article>
            <h3 class="Title_2">My cards (4)</h3>
        </section>
            
        <section class="cards_container">
            <article class="Cards-Boxes">
                <div class="card-one">
                    <div>
                        <img src="../storage/img/Chip.svg">
                        <span>**** 6175</span>
                    </div>
                    <div>
                        <p>$<strong>47,417</strong></p>
                    </div>
                    <div>
                        <img src="../storage/img/Mastercard.svg">
                    </div>
                </div>
                <div class="card-two">
                    <div>
                        <img src="../storage/img/Chip.svg">
                        <span>**** 4587</span>
                    </div>
                    <div>
                        <p>$<strong>584,468</strong></p>
                    </div>
                    <div>
                        <img src="../storage/img/VISA.svg">
                    </div>
                </div>
                <div class="card-one">
                    <div>
                        <img src="../storage/img/Chip.svg">
                        <span>**** 5682</span>
                    </div>
                    <div>
                        <p>$<strong>112,942</strong></p>
                    </div>
                    <div>
                        <img src="../storage/img/Mastercard.svg">
                    </div>
                </div>
            </article>
        </section>
            
            
        

    </main>
    <footer class="footer">
        <ul class="footer__ul">
            <li>
                <a href="#">
                    <img src="../storage/img/casa.png">
                </a>
            </li>
            <li>
                <a href="../views/balance.html">
                    <img src="../storage/img/aplicacion-wallet-pass.png">
                </a>
            </li>
            <li>
                <a href="../views/dashboard.html">
                    <img src="../storage/img/flojo.png">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../storage/img/aplicacion-de-bandeja-de-entrada-de-correo.png">
                </a>
            </li>
            <li>
                <a href="../index.html">
                    <img src="../storage/img/discordia.png">
                </a>
            </li>
        </ul>
    </footer>
    
</body>
</html>